Checks: >
  bugprone-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  -misc-include-cleaner,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-use-concise-preprocessor-directives,

#
# XXX: when possible, remove custom *-function-size.StatementThreshold values,
# set IgnoreMacros instead: https://github.com/llvm/llvm-project/issues/112835
#
CheckOptions:
  - {key: bugprone-easily-swappable-parameters.MinimumLength, value: 3}
  - {key: bugprone-reserved-identifier.AllowedIdentifiers, value: "__asan_default_options|__llvm_profile_|_GNU_SOURCE|__SANE_USERSPACE_TYPES__"}
  - {key: hicpp-function-size.StatementThreshold, value: 1500}
  - {key: readability-function-size.StatementThreshold, value: 1500}
  - {key: readability-function-cognitive-complexity.IgnoreMacros, value: true}
  - {key: readability-identifier-naming.EnumCase, value: lower_case}
  - {key: readability-identifier-naming.EnumConstantCase, value: UPPER_CASE}
  - {key: readability-identifier-naming.FunctionCase, value: lower_case}
  - {key: readability-identifier-naming.FunctionIgnoredRegexp, value: "__asan_default_options|__llvm_profile_|LLVMFuzzerTestOneInput"}
  - {key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE}
  - {key: readability-identifier-naming.GlobalVariableCase, value: camelBack}
  - {key: readability-identifier-naming.GlobalVariablePrefix, value: g}
  - {key: readability-identifier-naming.ParameterCase, value: lower_case}
  - {key: readability-identifier-naming.StructCase, value: lower_case}
  - {key: readability-identifier-naming.TypedefCase, value: lower_case}
  - {key: readability-identifier-naming.UnionCase, value: lower_case}
  - {key: readability-identifier-naming.VariableCase, value: lower_case}

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: '*'
# Check first-party (non-system, non-vendored) headers.
HeaderFilterRegex: '.*'
SystemHeaders: false
